[user]
  name = João Inez
  email = joaoinez.info@gmail.com
[pull]
  rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
